body{
    font-family: $basefont;
    background-color: $back-color;
    color: $basecolor;
    width: 70%;
    margin: 0 auto;
}

header{
    font-family: $headfont;
    color: $greencolor;
    font-size: 2em;
}

h2{
  font-size: 2em;
  font-family: $headfont;
  color: $greencolor;
}

path {stroke:white;fill:none;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;}

.st5{
  @include path-basic;
  stroke-width:5;
}
.st4{
  @include path-basic;
  stroke-width:4;
}
.st3{
  @include path-basic;
  stroke-width:3;
}
.st10{
  @include path-basic;
  stroke-width:10;
}
.st8{
  @include path-basic;
  stroke-width:8;
}
.st15{
  @include path-basic;
  stroke-width:15;
}


.vivie{
  width: 30%;
  margin: 2%;
}

div{
  div{
    width: 60%;
    margin: 0 auto;
  }
}


.flexy{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  h2{
    color: white;
    vertical-align: center;
    margin: 5%;
    padding-top: 10%;
  }
}

#my-dog{
  path{
    stroke: Silver;
  }
}

#family{
  path{
    stroke: lemonChiffon
  }
}

#ludo{
    .st8{
      stroke: red;
    }
    .st10, .st15{
      stroke: green;
    }
}

#percy{
  .st8{
    stroke: gold;
  }
  .st10{
    stroke: RoyalBlue;
  }
}

#tiger{
  path{
    stroke: orange;
  }
}

#chocolate{
  path{
    stroke: Chocolate;
  }
}

#pirate{
  path{
    stroke: Tomato;
  }
}

#teddy{
  path{
    stroke: BurlyWood;
  }
}

#games{
  .st4{
    stroke: red;
  }
  .st5{
    stroke: Cornflowerblue;
  }
}

#gamer{
  path{
    stroke: MistyRose;
  }
}

#camera{
  path{
    stroke: Teal;
  }
}

#flowers{
  path{
    stroke: Plum;
  }
}

@media screen and (min-width: 725px) and (max-width: 1000px) {
  body{
    width: 85%;
  }

}


@media screen and (max-width: 724px) {
  body{
    width: 95%;
  }

  .vivie{
    margin: 1%;
  }

  .flexy{
    h2{
      margin: 2%;
    }
  }

}
